@CHARSET "UTF-8";

/* Liste */

.releasesList {
	margin: 0 0 25px 0;
}

.releasesList .releaseEintrag {
	position: relative;
	margin: 0 0 25px 0;
	padding: 10px;
	background-color: #f7f7f7;
	border: 1px solid #898989;
	border-bottom: 6px solid #898989;
	transition: all ease .4s;
}

.releasesList .releaseEintrag .releaseEintragBild {
	position: relative;
	margin: 0 0 10px 0;
	min-height: 250px;
	border-bottom: 3px solid #898989;
}

.releasesList .releaseEintrag .releaseEintragBild img {
	width: 100%;
	height: auto;
	margin: auto;
}

.releasesList .releaseEintrag .releaseEintragBild .bildOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	opacity: .25;
	transition: all ease .4s;
} 

.releasesList .releaseEintrag:hover {
	background-color: #e8e8e8;
}

.releasesList .releaseEintrag:hover .releaseEintragBild .bildOverlay {
	opacity: 0;
}

.releasesList .releaseEintrag .releaseEintragBild a {
	display: block;
}

#main .releasesList .releaseEintragTitel {
	border-bottom: 3px solid #898989;
}

#main .releasesList .releaseEintragTitel h3 {
	margin: 0 0 5px 0;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
	color: #333;
	letter-spacing: 1px;
	text-align: center;
}

#main .releasesList .releaseEintragTitel h3 a {
	text-decoration: none !important;
	color: #7a7a7a !important;
}

#main .releasesList .releaseEintragTitel h3 span.interpret {
	display: block;
	margin: 0 0 10px 0;
	font-size: 14px;
	text-transform: none;
}

#main .releasesList .releaseEintragTitel h3 span.title {
	display: block;
	font-weight: 400;
}