@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #7a7a7a;
	font-family: 'Open Sans' !important;
}

b,
strong {
	font-weight: 600 !important;
}

#template {
	height: auto;
	margin: 0 auto;
	padding: 0;
}

#header {
	width: 100%;
	margin: 0 0 25px 0;
}

#header #logo {
	height: auto;
	margin: 0 0 20px 0;
	padding: 50px 0 0 0;
}

#header #logo a.logo {
	display: block;
	width: 150px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

#header #logo a.logo img {
	width: 150px;
	height: auto;
}

#header #logo h1 {
	font-weight: 300;
	font-size: 29px;
	text-align: center;
}

#navigation {
	display: block;
}

#navigation .toggleNav {
	display: none;
}

#navigation ul {
	display: block;
	max-width: 965px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

#navigation ul > li {
	display: inline-block;
	font-size: 14px;
	padding: 10px 35px;
	position: relative;
}

#navigation ul > li.warenkorb {
	position: relative;
	width: 60px;
	height: 30px;
	margin: 0px 0 -10px 35px;
	opacity: .65;
	background-image: url(images/cart.png);
	background-repeat: no-repeat;
	background-position: center center;
}

#navigation ul > li.warenkorb a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
	position: absolute;
	left: 0;
	top: 0;
}


#navigation ul > li > a {
	display: block;
	color: #7a7a7a;
	font-weight: 500;
	letter-spacing: 2px;
}

#navigation ul > li > a:after {
	display: block;
	content: '';
	height: 2px;
	background-color: #dfdfdf;
	width: 37px;
	position: absolute;
	right: -15px;
	top: 0;
	bottom: 0;
	margin: auto;
}


#navigation ul > li.warenkorb .warenkorbCount {
	display: block;
	width: 20px;
	height: 20px;
	color: #FFF;
	background-color: #000;
	position: absolute;
	right: 0px;
	top: 10px;
	border-radius: 50%;
	line-height: 20px;
	text-align: center;
	font-size: 13px;
	z-index: 10;
}

#navigation .warenkorbCount {
	display: none;	
}

@media (min-width: 768px) and (max-width: 991px) {
	#navigation ul > li {
		padding: 10px 20px;
	}
	
	#navigation ul > li > a:after {
		width: 20px;
		right: -10px;
	}
	
	#navigation ul > li.warenkorb {
		margin-left: 10px;
	}
	
}

#navigation ul > li:last-child > a:after {
	display: none;
}

#main {
	/* width: 1200px; */
	margin: 0 auto 25px auto;
	padding-bottom: 25px;
	border-bottom: 1px solid #7a7a7a;
}

#main h2.siteTitle {
	color: #7a7a7a;
	font-weight: 300;
	font-size: 35px;
	margin: 0 0 25px 0;
	text-align: center;
}

#main h3 {
	font-weight: 300;
	font-size: 27px;
	margin: 0 0 20px 0;
}

#footer {
	padding: 0 0 20px 0;
}

#facebook {
	width: 165px;
	margin: 0 auto 20px auto;
}

#footer p {
	color: #7a7a7a;
	text-align: center;
}

#footer a {
	color: #7a7a7a;
	text-decoration: underline;
}

/* Responsive */

@media (max-width: 768px) {
	
	#navigation .toggleNav {
		display: block;
		font-size: 60px;
		text-align: right;
		margin-top: -85px;
		color: #9F9F9F;
	}
	
	#navigation ul {
		display: none;
	}
	
	#navigation ul li {
		display: block;
		margin: 0 !important;
		padding: 10px 20px;
		float: none;
		width: 100% !important;
		font-size: 25px;
		font-weight: 300;
		border-bottom: 1px solid #898989;
		height: 60px !important;
		opacity: 1 !important;
	}
	
	#navigation ul > li > a:after {
		display: none;
	}
	
	#navigation ul > li.warenkorb {
		background: none;
	}
	
	#navigation ul > li.warenkorb a {
		text-indent: 0px;
		position: relative;
		opacity: 1;
	}
	
	#navigation ul > li.warenkorb .warenkorbCount {
		display: none;
	}
	
	.produktEintragMain .artikelnummer {
		position: relative !important;
		display: block !important;
		margin-bottom: 5px !important;
		right: 0 !important;
		bottom: 0 !important;
	}
	
	.katalogSchritte ul.stepsNavigation {
		margin: 20px 0 !important;
		border: none !important;
	}
	
	.katalogSchritte ul.stepsNavigation > li.step {
		width: 100% !important;
		background-color: #fafafa;
		margin-bottom: 10px !important;
		border-radius: 5px !important;
		border: 1px solid #7a7a7a;
	}
	
	.katalogSchritte ul.stepsNavigation > li.step > a {
		font-size: 19px !important;
	}
	
	.katalogSchritte ul.stepsNavigation > li.step > span.arrow {
		right: 20px !important;
	}
	
	.katalogSchritte ul.stepsNavigation > li.step:last-child span.arrow,
	.katalogSchritte ul.stepsNavigation > li.step.stepAbschluss span.arrow {
		display: block !important;
	}
	
	.katalogKasse .input-group {
		width: 100% !important;
	}
	
	.katalogKasse .form-control {
		width: 100% !important;
	}
	
	.galeriebilderEintrag {
		height: auto !important;
		overflow: visible !important;
	}
	
		
	.galeriebilderEintrag:hover img {
		width: 100% !important;
		height: auto !important;
		margin: 0 !important;
	}
	
	#main .releasesList .releaseEintrag {
		max-height: auto !important;
		min-height: 400px;
	}
	
	.warenkorbWrap {
		overflow-x: scroll;
		margin-bottom: 20px;
	}
	
	.warenkorbTable {
		width: 950px;
		max-width: 950px;
		margin-bottom: 20px;
	}
	
		
	.kassaProduktzusammenfassung {
		overflow-x: scroll;
	}

}

@media (min-width: 769px) and (max-width: 1090px) {
	.warenkorbWrap {
		overflow-x: scroll;
		margin-bottom: 20px;
	}
	
	.warenkorbTable {
		width: 950px;
		max-width: 950px;
		margin-bottom: 20px;
	}
	
		
	.kassaProduktzusammenfassung {
		overflow-x: scroll;
	}
	
	
}

@media (min-width: 769px) and (max-width: 980px) {
	
	#main .releasesList .releaseEintrag {
		max-height: auto !important;
		min-height: 425px;
	}
	
}

@media (min-width: 1091px) {
		.releasesList .releaseEintrag .releaseEintragBild {
		min-height: 250px !important;
	}
}

@media (min-width: 769px) and (max-width: 1200px) {
	
	.releasesList .releaseEintrag .releaseEintragBild {
		min-height: 200px !important;
	}
	
	.releasesList .releaseEintrag {
		min-height: auto !important;
	}
}

@media (max-width: 1090px) and (max-device-width: 1090px) {
	.galeriebilderEintrag {
		height: 325px !important;
		overflow: hidden;
	}
	
	.releasesList .releaseEintrag {
		height: 400px;
	}
	

}

.clear {
	float: none;
	clear: both;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
	visibility: hidden;
}