@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Open Sans' !important;
}

b,
strong {
	font-weight: 600 !important;
}

#template {
	height: auto;
	margin: 0 auto;
	padding: 0;
}

#header {
	width: 100%;
	margin: 0 0 25px 0;
}

#header #logo {
	height: auto;
	margin: 0 0 20px 0;
	padding: 50px 0 0 0;
}

#header #logo a.logo {
	display: block;
	width: 130px;
	height: auto;
	margin: 0 auto;
	padding: 0;
}

#header #logo a.logo img {
	width: 130px;
	height: auto;
}

#header #logo h1 {
	text-align: center;
	font-weight: 300;
}

#navigation {
	display: block;
	margin: 0;
}

#navigation ul {
	display: block;
	width: 950px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

#navigation ul > li {
	display: inline-block;
	font-size: 14px;
	padding: 10px 35px;
	position: relative;
}

#navigation ul > li.warenkorb {
	margin: 0px 0 0 35px;
	opacity: .65;
	background-image: url(images/cart.png);
	background-repeat: no-repeat;
	background-position: center center;
	text-indent: -9999px;
}


#navigation ul > li > a {
	display: block;
	color: #7a7a7a;
	font-weight: 500;
	letter-spacing: 2px;
}

#navigation ul > li > a:after {
	display: block;
	content: '';
	height: 2px;
	background-color: #dfdfdf;
	width: 37px;
	position: absolute;
	right: -15px;
	top: 0;
	bottom: 0;
	margin: auto;
}

#navigation ul > li:last-child > a:after {
	display: none;
}

#main {
	width: 1200px;
	margin: 0 auto;
}

#main h2.siteTitle {
	color: #7a7a7a;
	font-weight: 300;
	font-size: 35px;
	margin: 0 0 25px 0;
	text-align: center;
}

#main h3 {
	font-weight: 300;
	font-size: 27px;
	margin: 0 0 20px 0;
}

#footer {
	width: 1200px;
	margin: 0 auto;
}

#footer p {
	color: #7a7a7a;
	text-align: center;
}

#footer a {
	color: #7a7a7a;
	text-decoration: underline;
}

.clear {
	float: none;
	clear: both;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
	visibility: hidden;
}